/* -------------- Mobile Responsive Styles------------- */

@media screen and (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
  }

  /*------------- Header Styles ------------- */

  /*-------------Navbar Styles ------------- */

  .navbar-container {
    flex-direction: column;
    padding: 103px 0 78px;
  }

  .navbar-logo {
    justify-content: center;
    margin-bottom: 62px;
  }
  .menu {
    flex-direction: column;
  }
  /*-------------End Of Navabar Styles ------------- */

  /*-------------Banner Styles ------------- */
  .banner {
    background-image: none;
    padding: 0;
  }
  .banner-content {
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    justify-content: center;
    display: grid;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-container img {
    width: 100%;
  }
  .banner-container {
    gap: 24px;
  }
  /*------------- End of Banner Styles ------------- */

  /*-------------End Of Header Styles ------------- */

  main {
    width: auto;
  }

  /*------------- Online game's Styles ------------- */

  .online-games {
    padding: 0 15px;
  }
  .online-game-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 15px;
  }
  .card img {
    width: 100%;
  }

  /*-------------End of Online game's Styles ------------- */

/* Play instantly styles */

.play-instantly {
  padding: 15px;
  margin: auto;
}
.play-instantly-container{
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 74px;
}
.play-instantly-content{
  text-align: center;
}
.play-instantly-img img{
  width: 100%;

}
.play-instantly-container2{
  flex-direction: column;
  gap: 74px;
}
.play-instantly-content p{
  width: auto;
}
.play-instantly-img .relative-img {
  position: absolute;
  right: 182px;
  width: 50%;
  top: 227px;
  z-index: 1;
}
.play-instantly-img .relative-img2 {
  top: 208px;
  position: absolute;
  z-index: 1;
  left: 182px;
  width: 50%;

}
/* End of Play instantly styles */






}

/* -------------- Tablet Responsive Styles------------- */

@media screen and (min-width: 576px) and (max-width: 960px) {
  /*------------- Header Styles ------------- */

  /*-------------Navbar Styles ------------- */

  .navbar-container {
    flex-direction: column;
    padding: 103px 0;
  }

  /*-------------End Of Navabar Styles ------------- */

  /*-------------Banner Styles ------------- */

  .banner {
    background-image: none;
    padding: 0;
  }
  .banner-content {
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    justify-content: center;
    display: grid;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    width: 100%;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-container img {
    width: 100%;
  }
  .banner-container {
    gap: 24px;
  }
  .navbar-logo {
    justify-content: center;
    margin-bottom: 62px;
  }
  /*-------------End of Banner Styles ------------- */

  /*-------------End Of Header Styles ------------- */

  main {
    width: auto;
  }
  /*------------- Online game's Styles ------------- */

  .online-game-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;
    gap: 15px;
  }
  .card img {
    width: 100%;
  }
  /*-------------End of Online game's Styles ------------- */

/* Play instantly styles */

  .play-instantly {
    padding: 15px;
    margin: auto;
}
  .play-instantly-container{
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 74px;
  }
  .play-instantly-content{
    text-align: center;
  }
 
  .play-instantly-container2{
    flex-direction: column;
    gap: 74px;
  }
  .play-instantly-content p{
    width: auto;
  }
  .play-instantly-img img{
    width: 100%;
  
  }
  .play-instantly-img .relative-img {
    position: absolute;
    right: 381px;
    top: 377px;
    z-index: 1;
    width: 50%;
}
.play-instantly-img .relative-img2 {
  top: 381px;
  position: absolute;
  z-index: 1;
  left: 384px;
  width: 50%;

}
/* End of Play instantly styles */
}
