/* -------------- Mobile Responsive Styles------------- */

@media screen and (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
  }

  /*------------- Header Styles ------------- */

  /*-------------Navbar Styles ------------- */

  .navbar-container {
    flex-direction: column;
    padding: 103px 0 78px;
  }

  .navbar-logo {
    justify-content: center;
    margin-bottom: 62px;
  }
  .menu {
    flex-direction: column;
  }

  /*-------------End Of Navabar Styles ------------- */

  .banner {
    background-image: none;
    padding: 0;
  }
  .banner-content {
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    justify-content: center;
    display: grid;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-container img {
    width: 100%;
  }
  .banner-container {
    gap: 24px;
  }

  /*-------------End Of Header Styles ------------- */
}

/* -------------- Tablet Responsive Styles------------- */

@media screen and (min-width: 576px) and (max-width: 960px) {
  /*------------- Header Styles ------------- */

  /*-------------Navbar Styles ------------- */

  .navbar-container {
    flex-direction: column;
    padding: 103px 0;
  }
  .banner {
    background-image: none;
    padding: 0;
  }
  .banner-content {
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    justify-content: center;
    display: grid;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    width: 100%;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-container img {
    width: 100%;
  }
  .banner-container {
    gap: 24px;
  }
  .navbar-logo {
    justify-content: center;
    margin-bottom: 62px;
  }

  /*-------------End Of Navabar Styles ------------- */

  /*-------------End Of Header Styles ------------- */
}
